.cards, .rest, .corpus, .bloc {
    display: block;
    margin: auto;

}

.corpus {
	width: 100%;
	padding: 0px;

}

h1 {
	font-size: 24px;
}

.corpus0 h2 {
	font-size: 24px;
	padding: 10px;
}

.cards {
 	width: 100%;
 	margin: auto;
 }

.art {
	width: 100%;
	padding:0px;
}


.art img {
    width: 100%;
 }

article h4 {
	padding-top: 10px;
}

ul {
	margin-left: 10px;
}

.picture {
    display: block;
    margin: auto;
}

.txt {
	margin: auto;
	width: auto;
	padding-top: 10px;
}

figure {
	width: 100%;
}

#header {
    background-position: center;
    height: 250px;
}

.bloc h2 {
	padding: 10px;
 }

h1 {
	padding: 10px;
	margin-bottom: 20px;
	margin-top: 10px;
}