* {
    margin: 0px;
    padding : 0px;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Bold.woff2') format('woff2'),
        url('../font/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Black.woff2') format('woff2'),
        url('../font/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.woff2') format('woff2'),
        url('../font/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?192le8');
  src:  url('../font/icomoon.eot?192le8#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?192le8') format('truetype'),
    url('../font/icomoon.woff?192le8') format('woff'),
    url('../font/icomoon.svg?192le8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
 .loupe {
    position: relative;

 }

 .loupe:after
 {
    content: "\e986";
    font-family: icomoon;
    font-size:34px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    opacity: 0;
    margin-left: -20px;
    margin-top: -12px;
 }

 .loupe:before
 {
    content: '';
    position: absolute;
    z-index: 1;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0,0,0);
    opacity: 0;

 }

.art:hover .loupe:before{
    opacity: 0.5;
    transition: 0.5s;
}

.art:hover .loupe:after{
    opacity: 1;
}
/*--------------header---------------*/
#header {
    height: 400px;
    background: url('../images/background-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 60%;
}

.secret {
    display: none;
}

.wrapper {
    width: auto;
}
/*--------------header---------------*/

.corpus {
    margin-left : auto;
    margin-right: auto;
    width: 70%;
}

body {
    font-family: 'Montserrat';
}


h1 {
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 60px;
    margin-top: 60px;
    font-size: 50px;
}

h1:after {
    content: ".";
    color: #e53dba;
    font-size: 28px;
}

.point:after {
    content: ".";
    color: #e53dba;
    font-size: 28px;
}


div h2{
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
    color: white;
}

h2{
    color: #e53dba;
    font-size: 30px;
   
}

.corpus0 {
    padding: 0 15px;
}

.corpus0 h2 {
    font-weight: 900; 
    text-transform: uppercase; 
    margin-bottom: 60px; 
    margin-top: 60px; 
    font-size: 50px; 
    color: black;
}

.corpus0 h3 {
    font-weight: bold;
    color: white;
    font-size: 20px;
}

div h3 {
    font-size: 12px;
    padding-left: 10px;
}

p {
    font-weight: normal;
    padding: 10px;

}

ul {
    list-style-type: none;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

li {
  line-height: 36px;
}

.cards img {
    width: 100%;
    height: auto;

}

.art img {
    width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.cards a {
    text-decoration: none;
    color: white;
}

.rest {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.art  {
    color: white;
    flex-basis: 33.3%;
    box-sizing: border-box;
    height: auto;
    padding: 10px 10px;

}

.even .bg {

    background-color: #ffde51;
      
}
.odd .bg{
     background-color: #17cbde;
    
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*/------- page actus---------*/
figure {
    flex-basis:200px;
    flex-grow:1;
    display: block;
}

 .picture{
    width: 100%;
    height: auto;
    display: block;
}

.txt {
     flex-basis: 400px;     
}

.bloc{
    height: auto;
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;  
}

.bloc h2 {
    width:100%;

}

article h3 {
    font-size: 20px;
    padding-left: 10px;
    color: #17cbde;
}
/*------------fin page actu---------------*/


/*---------------page brèves-----------------*/
 article p::first-letter {
    font-size: 50px;
    color: #e53dba;
}

.corpus2 div h2 {
    color: #e53dba;
    font-size: 30px;
}
/*--------------- fin page brèves-----------------*/

footer {
    background-color: #17cadd;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}



.lien {
    display: block;
    height: 400px;
    opacity: 0;
}
